@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:focus {
  background-color: #615048;
}

.button-light {
  background-color: #82B3D3;
}

.button-light:hover {
  background-color: #68A2CA;
}

.button-light:focus {
  background-color: #68A2CA;
}

.button-light:active {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #7DB54F;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-no-bg {
  background-color: transparent;
}

.button-no-bg:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-no-bg:active {
  background-color: transparent;
  opacity: 0.3;
}

.button-no-bg:focus {
  background-color: transparent;
  outline: #83B3D3 3px solid;
}

.rating-button {
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 400;
  cursor: default;
}

.rating-button:hover {
  background-color: #F2F2F2;
}

.rating-button:active {
  color: #000000;
}

.rating-button:focus {
  outline: #68A2CA 2px solid;
}


/* main-container */
.main-container {
  flex-grow: 1;
}

/* Хедер */
.main-header {
  color: #000000;
}

/* Навигация */
.navigation {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 238px;
  max-width: 650px;
  align-items: center;
}

.navigation-user {
  min-width: 135px;
  margin-left: auto;
  padding: 0;
  justify-content: flex-end;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navigation-link:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.header-logo {
  margin-left: 70px;
  margin-right: 30px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.navigation-user .navigation-link {
  min-height: 20px;
  min-width: 20px;
  padding: 22px 12px;
}

.navigation-user .navigation-link:hover {
  background-color: #F2F2F2;
}

.navigation-user:hover .navigation-link::after {
  content: none;
}

.navigation-user .navigation-item {
  min-width: 44px;
}

.navigation .button {
  margin-left: 20px;
  margin-right: 70px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.favorites-counter {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  background-color: #7DB54F;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  left: 20px;
  top: 11px;
}

/* Pages */
.page-container {
  background-color: #ffffff;
}

/* Hero */
.welcome-block {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  background-color: #80b2cd;
  height: 485px;
  position: relative;
}

.welcome-block::after {
  content: "";
  background-image: url("../images/devider.svg");
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  margin-top: 25px;
  position: absolute;
  bottom: 0;
}

.welcome-logo {
  margin-top: 51px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
}

h2 {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.sedona-title {
  margin-bottom: 25px;
  padding: 0 50px;
}

/* Описание */
.description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 0 50px;
}

.sedona-description {
  padding-top: 69px;
  padding-bottom: 90px;
}

/* Белый текст */
.white {
  color: #ffffff;
}

.advantages-list,
.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item,
.recommendations-item {
  width: 400px;
  min-height: 384px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantage-blue {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 93px;
  padding-bottom: 111px;
}

.advantage-wrapper {
  padding-bottom: 121px;
  padding-top: 103px;
}

.advantages-group {
  display: flex;
}

.advantage-with-photo {
  width: 100%;
}

.devil-picture {
  order: -1;
}

ul {
  list-style-type: none;
}

.bg-blue {
  background-color: #82B3D3;
}

.bg-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title,
.recommendations-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 250px;
}

.recommendations-wrapper {
  padding-top: 182px;
  padding-bottom: 81px;
}

/* Разделители */
.advantages-list .advantages-title::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantage-blue .advantages-title::after {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.advantages-description,
.recommendations-description {
  width: 250px;
}

.recommendations-title {
  margin-bottom: 30px;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card-home {
  background-image: url("../images/house-icon.svg");
  background-repeat: no-repeat;
  background-position: left 50% top 78px;
}

.card-food {
  background-image: url("../images/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.card-gift {
  background-image: url("../images/souvenirs-icon.svg");
  background-repeat: no-repeat;
  background-position: left 50% top 78px;
}

.hotel-search {
  text-align: center;
}

.hotel-search-container {
  padding: 96px 50px;
}

.subscribe-container {
  padding-top: 96px;
  padding-bottom: 104px;
  padding: 96px 50px 104px;
}

.hotel-search-title,
.newsletter-title {
  margin-bottom: 20px;
}

.hotel-search-description,
.newsletter-description {
  margin-bottom: 54px;
}

.hotel-search-container .button {
  padding: 8px 50px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.subscription-form .button {
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  max-width: 400px;
}

.email-field {
  width: 430px;
  min-height: 50px;
  font-family: "PT Sans", sans-serif;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.email-field:hover {
  background: #E6E6E6;
}

.email-field:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border: none;
}

.email-field:active {
  background: #E6E6E6;
  outline: 2px solid #000000;
}

.newsletter {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #5582AD;
  text-align: center;
  background-size: cover;
}

.page-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0 30px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 144px;
  padding: 0;
  margin: 0;
  margin-right: 42px;
}

.footer-social-item {
  padding: 13px 12px;
}

.social-link {
  display: block;
  min-width: 24px;
  min-height: 18px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  display: flex;
  width: 720px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  justify-content: center;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-html-logo {
  display: flex;
  min-width: 115px;
  margin-left: auto;
  position: relative;
  flex-wrap: wrap;
  min-height: 32px;
}

.html-logo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.html-logo-icon:hover {
  fill: #756157;
}

.html-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Каталог */
.inner-header {
  background-color: #6689A9;
  background-image: url("../images/catalog-bg.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  background-size: cover;
}

.inner-header-container {
  margin: 35px 70px 70px;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-container {
  padding: 50px 70px 60px 70px;
}

.catalog-filter {
  width: 1060px;
  margin: 0;
  padding: 0;
}

.catalog-filter-form {
  display: flex;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 56px 0 0 0;
  padding: 0;
}

.buttons-container .button-light {
  margin-bottom: 32px;
}

.buttons-container .button {
  font-size: 16px;
  line-height: 20px;
  min-width: 191px;
  min-height: 36px;
  padding: 8px 50px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child) {
  padding: 0;
  margin-bottom: 16px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: 0;
}

.filter-checkbox {
  min-width: 150px;
  margin-right: 70px;
}

.filter-radio {
  margin-right: 140px;
  min-width: 150px;
}

.filter-price {
  min-width: 290px;
  margin-right: 70px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control-input:focus + .control-mark {
  outline: 2px solid #82B3D3;
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  right: 3px;
  top: -2px;
  content: url("../images/tick-icon.svg");
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:active {
  opacity: 0.3;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.range-wrapper-inputs {
  display: flex;
  box-sizing: border-box;
}

.field-price {
  margin: 0;
  padding: 13px 40px 13px 20px;
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  width: 83px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.field-min {
  border-radius: 4px 0 0 4px;
}

.field-max {
  border-radius: 0 4px 4px 0;
}

.filter-price-min {
  margin-right: 2px;
  position: relative;
}

.filter-price-min::after {
  position: absolute;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  top: 12px;
  right: 20px;
  opacity: 0.3;
  content: "от";
}

.filter-price-max {
  position: relative;
}

.filter-price-max::after {
  position: absolute;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  top: 12px;
  right: 20px;
  opacity: 0.3;
  content: "до";
}

.field-price:hover {
  background: #E6E6E6;
}

.field-price:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border: none;
}

.field-price:active {
  background: #E6E6E6;
  outline: 2px solid #000000;
}

.field-price::-webkit-outer-spin-button,
.field-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/*Слайдер*/
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 46px;
  margin-bottom: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  position: relative;
}

.breadcrumbs-link {
  padding: 0;
  margin: 0;
  min-width: 12px;
  min-height: 12px;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-page-link {
  padding-right: 30px;
  background-image: url("../images/arrow-right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.breadcrumbs-item:not(:first-child):not(:last-child) {
  padding-right: 20px;
  background-image: url("../images/arrow-right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.main-page-icon {
  fill: #FFFFFF;
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-page-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.main-page-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-sort span {
  margin-left: 7px;
}

.sort-view-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.select-control {
  color: #333333;
  width: 292px;
  padding: 12px 20px;
  padding-right: 103px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 70px;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-view {
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border: #E5E5E5 2px solid;
  border-radius: 4px;
  margin-right: 8px;
  box-sizing: border-box;
}

.button-view:last-child {
  margin-right: 0;
}

.button-view-active {
  border: #000000 2px solid;
}

.button-view:hover,
.button-view:active {
  border: #000000 2px solid;
  outline: none;
}

.button-view:focus {
  outline: #68A2CA 2px solid;
}

.button-view:focus:not(:focus-visible) {
  outline: none;
}

.button-view:focus-visible {
  outline: none;
  border: #68A2CA 2px solid;
}

.button-show-table {
  background-image: url("../images/table-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-show-slideshow {
  background-image: url("../images/slideshow-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-show-list {
  background-image: url("../images/list-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* Catalog */

.product-card .button {
  font-size: 16px;
  line-height: 20px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.product-card {
  width: 340px;
  padding: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.product-card-image {
  display: block;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 17px 0 16px;
}

.product-card-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.product-card-price {
  margin-left: auto;
}

.product-card-link {
  text-decoration: none;
}

.rating {
  margin-top: 10px;
}

.four-stars {
  width: 88px;
  background: url("../images/star-icon.svg");
  background-repeat: space;
}

.three-stars {
  width: 66px;
  background: url("../images/star-icon.svg");
  background-repeat: space;
}

.two-stars {
  width: 43px;
  background: url("../images/star-icon.svg");
  background-repeat: space;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
  outline: 1px solid #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.white-pagination-link {
  color: #000000;
  background-color: transparent;
}

.white-pagination-link:hover {
  background-color: transparent;
}

.white-pagination-link:active {
  background-color: transparent;
  color: #000000;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:hover {
  background-color: #F2F2F2;
  outline: none;
}

.pagination-current:active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-container {
  border-top: 1px solid #E6E6E6;
  padding-top: 40px;
}

.newsletter-no-bg {
  background-image: none;
  background-color: #ffffff;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search-hotels {
  box-sizing: border-box;
  width: 717px;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: -18px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-size: 30px;
  margin: 0;
  margin-bottom: 64px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
  outline: none;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 577px;
}

.search-form .button {
  width: 577px;
  padding: 18px 0 18px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

.search-form-field {
  width: 577px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-form-input {
  width: 440px;
  min-height: 48px;
  box-sizing: border-box;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.search-form-input:hover {
  background-color: #E6E6E6;
}

.search-form-input:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border: none;
}

.search-form-input:active {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.search-form-label {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.field-message {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 4px 0 0 157px;
}

.field-message-error {
  color: #FF5757;
}

.search-form-input-calendar {
  position: relative;
}

.search-form-input-calendar::after {
  content: url("../images/calendar.svg");
  position: absolute;
  top: 14px;
  right: 20px;
  opacity: 0.3;
}

.search-form-field-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 577px;
  margin-bottom: 48px;
}

.search-form-input-number {
  width: 31px;
  padding: 14px 10px;
  height: 48px;
  border-radius: 0;
}

.search-form-input-number::-webkit-outer-spin-button,
.search-form-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.guests-counter {
  width: 247px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.search-form-number-control {
  display: flex;
  padding: 0;
  margin: 0;
}

.button-number {
  width: 40px;
  height: 48px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.button-number:hover {
  background-color: #E6E6E6;
}

.button-number:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border: none;
}

.button-number:active {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.button-number-minus {
  border-radius: 4px 0 0 4px;
  position: relative;
  cursor: pointer;
}

.minus-icon {
  position: absolute;
  top: 23px;
  left: 13px;
  fill: rgba(117, 97, 87, 0.3);
  border-radius: 4px;
}

.button-number-minus:hover .minus-icon {
  fill: #000000;
}

.button-number-minus:active .minus-icon {
  opacity: 0.2;
}

.button-number-plus {
  border-radius: 0 4px 4px 0;
  position: relative;
  cursor: pointer;
}

.plus-icon {
  position: absolute;
  top: 17px;
  left: 13px;
  fill: rgba(117, 97, 87, 0.3);
  border-radius: 4px;
}

.button-number-plus:hover .plus-icon {
  fill: #000000;
}

.button-number-plus:active .plus-icon {
  opacity: 0.2;
}

/* Тултип */
.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
  z-index: 1;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  width: 216px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
  margin-left: 5px;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-close {
  display: none;
}
